# Desktop Services Store
*.DS_Store

# Object File
*.o
#*.s
swtch.s
*.coff

# Binary
nachos
coff2noff

# test folder
#/code/test/*.c
#/code/test/*
#/code/test/halt

# Temp file
*.swp
*~

# Output file
compile_commands.json

# Clangd cache
.cache

# Tests
halt
shell
matmult
sort
test1
